{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Header-->
         
        <header class="bg-dark py-5">
              <div class="container px-4 px-lg-5 my-5">
                  <div class="text-center text-white">
                      <h1 class="display-4 fw-bolder">About Us</h1>
                      <p class="lead fw-normal text-white-50 mb-0">Welcome to Lilys E-Shop</p>
                  </div>
              </div>
          </header>
          <div class = "container">
              <div class="row">
                     <center>
                     <div class="col-8">
                            <br><br>
                           <p align='justify'> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Nunc ante mauris, dictum non neque at, tristique tempor lectus. 
                            Ut mattis est et massa finibus, vel feugiat est mattis. 
                            Aliquam nec ante a mi semper lobortis sit amet id arcu. 
                            Integer eget egestas lorem. Donec eget convallis nunc. 
                            Nam non cursus velit, at pellentesque ex. Fusce vitae elit leo. 
                            Nulla mattis scelerisque ipsum in pulvinar. Ut cursus porta nisl, nec 
                            tincidunt elit convallis eu. Nulla accumsan erat vel tortor tincidunt, 
                            a condimentum neque laoreet. Sed sit amet mollis nunc, eu efficitur lectus. 
                            Nam et massa nec leo dignissim congue. Suspendisse efficitur a felis ac efficitur. 
                            Cras imperdiet augue tellus. Nullam vestibulum nibh dolor, vitae blandit lectus aliquam at. 
                            Maecenas lacinia tellus ac efficitur maximus.</p>                            
                            <p align='justify'>Integer egestas ipsum id lacinia consequat. Sed imperdiet ex nec odio vestibulum, 
                                   at molestie eros luctus. Phasellus auctor hendrerit massa, nec finibus elit 
                                   lacinia id. Vivamus pellentesque urna velit. Curabitur fermentum condimentum 
                                   pellentesque. Nunc id libero blandit, ultricies augue vel, tempor massa. 
                                   Aliquam erat volutpat. Integer vestibulum finibus nisl, id ullamcorper 
                                   dui placerat et. Vestibulum nec euismod justo, gravida eleifend purus.
                                    Morbi pharetra justo non dui sagittis, vitae elementum tellus iaculis.
                                    Integer malesuada nibh et velit venenatis, ac rhoncus sem tempus.</p>
                             <p align='justify'>lobortis eros ut ipsum dictum condimentum ac nec urna. 
                                   Nunc at velit ut urna tempus mollis efficitur et diam. 
                                   Aliquam vestibulum felis tortor, sit amet porta turpis ultrices aliquam. 
                                   Etiam a elit tellus. Nunc quis laoreet lorem. In a blandit arcu, 
                                   eget bibendum justo. Quisque sed venenatis leo, nec aliquet leo.</p>



                     </div>

              </center>
                    
              </div>
          </div>
{% endblock %}         